<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://parseme.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b2fed901-984e-4e66-a165-2e834a3569a2/resourceGroups/ParseMe/providers/Microsoft.Web/sites/ParseMe</ResourceId>
    <UserName>$ParseMe</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://parseme.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>